@import url(http://weloveiconfonts.com/api/?family=entypo);
        *,
        ::after,
        ::before {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: end;
        }
        .background{
            width: 100%;
            height: 100%;
            background-color: #ccc2e473;
            filter: blur(50px);
            position: absolute;
            z-index: -99;
            padding: 10px;
        }

        .container {
            width: 776px;
            height: 95%;
            background: linear-gradient(to bottom, #8DA4DF, #DDACC1);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            z-index: 0px;
            box-shadow: 12px -10px 0 10px #AA89BA;
            min-width: 776px;
            padding:10px;

        }

        .top {
            position: relative;
            width: 90%;
            height: 390px;
            background: linear-gradient(90deg, #c2b5c9 3%, transparent 0), linear-gradient(#c2b5c9 3%, transparent 0);
            background-color: #eedbd2c7;
            background-size: 25px 25px;
            border-radius: 20px;
            border-style: dashed;
            border-width: 4px;
            border-color: #9776a6;
            overflow: hidden;
            box-shadow: 0 0 2px #fff, 0 0 8px #fff, 0 0 15px #D2AEC2, 0 0 35px #D2AEC2, 0 0 0px #D2AEC2, 0 0 20px #D2AEC2, 0 0 30px #D2AEC2;
            animation: twinkle 3s infinite;
            /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
        }

        .cat-all {
            height: 100px;
            width: 100%;
            position: absolute;
            bottom: 0;
        }

        @keyframes twinkle {

            0%,
            92%,
            100% {
                box-shadow: 0 0 2px #fff, 0 0 8px #fff, 0 0 15px #D2AEC2, 0 0 35px #D2AEC2, 0 0 0px #D2AEC2, 0 0 20px #D2AEC2, 0 0 30px #D2AEC2
            }

            90%,
            95% {
                box-shadow: none;
            }
        }

        .bc {

            width: 100%;
            position: absolute;
            opacity: .5;
            z-index: 0;
            top:-30px;
        }
        .top-bc{
            width: 100%;
          
        }

        .sky {
            height: 100%;
            width: 100%;
            z-index: 2;
            position: absolute;
            display: flex;
            justify-content: center;

        }

        .moon-all {
            width: 450px;
            height: 100%;
            /* background-color: #fff; */
            bottom: -70px;
            right: 44px;
            position: absolute;
        }

        .moon-all-box {
            width: 100%;
            height: 100%;
            flex-basis: 450px;
            position: absolute;
            top: 0;
            right: 0;
            overflow: hidden;
            animation: disapear 12s infinite steps(1);
        }

        @keyframes disapear {
            0% {

                width: 450px
            }


            9% {
                width: 300px
            }

            19% {

                width: 150px
            }

            29% {

                width: 0px;
            }

            100% {

                width: 0px;
            }
        }

        .moon-box {
            width: 150px;
            height: 100%;
            /* background-color: #fff; */
            display: inline-block;
            position: absolute;
            font-size: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: moon-rotate 2s infinite;

        }

        @keyframes moon-rotate {

            0%,
            100% {
                transform: rotatey(0deg);
            }

            50% {
                transform: rotatey(180deg);
            }
        }

        .moon-box-1 {
            right: 300px
        }

        .moon-box-2 {
            right: 150px;
        }

        .moon-box-3 {
            right: 0px;
        }

        .moon {
            width: 30px;
            height: 30px;
            background-color: #F4D548;
            border-radius: 50%;
            border: solid .5px;
            position: absolute;
        }

        .moon-1::after {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: solid .3px;
            background-color: #fff;
            left: 6px;
        }

        .moon-3::after {
            content: "";
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: solid .3px;
            background-color: #fff;
            right: 6px;
        }

        .cloud {
            width: 100px;
            height: 36px;
            position: absolute;
            border-radius: 20px;
            background-color: #ECDCD7;
        }

        .cloud::before,
        .cloud::after {
            content: "";
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            position: absolute;
        }

        .cloud::before {
            left: 16px;
            top: -28px;
            left: 16px;
            top: -28px;
            background-color: #ecdcd7e1;
        }

        .cloud::after {
            left: 35px;
            top: -20px;
            background-color: #ecdcd7cd
        }

        /* .cloud-group-1{
            background-image: url(./img/2.png);
            width: 240px;
            height: 160px;
            background-position: center;
            background-size: cover;
            position: absolute;
            bottom: 90px;
        } */

        .cat-main {
            width: 170px;
            height: 150px;
            display: block;
            position: absolute;
            animation-name: pac-man-eat-t;
            animation-duration: 12s;
            animation-iteration-count: infinite;
            left: 0;
            bottom: 0;
            display: flex;
            flex-wrap: wrap;
            animation: walk 12s infinite linear;
            z-index: 6;
        }

        @keyframes walk {
            0% {
                left: 0%;
                transform: translatex(-50%) translatey(0%);
            }

            10%,
            20%,
            30% {
                transform: translatey(-25%)
            }

            5%,
            15%,
            25%,
            35%,
            40% {
                transform: translatey(0%)
            }

            49.5% {
                left: 100%;
                transform: rotateY(0deg)translatey(0%);
            }

            50% {
                left: 100%;
                transform: translatex(50%)rotateY(180deg) translatey(0%);
            }

            75% {
                left: 50%;
                transform: translatex(50%)rotateY(180deg);

            }

            100% {
                left: 50%;
                transform: translatex(50%)rotateY(180deg);

            }
        }

        .cat-face {
            width: 100%;
            height: 80px;
            position: relative;
            animation: headanimate 2s infinite;
            transform-origin: right center;
        }

        @keyframes headanimate {

            0%,
            100% {
                transform: rotate(-2deg);
            }

            50% {
                transform: rotate(6deg) translatey(2px);
            }
        }

        .cat-head {
            width: 60px;
            height: 40px;
            border-radius: 30px 30px 0 0;
            position: absolute;
            top: 20px;
            right: 0px;
            background-color: #503C60;
            z-index: 2;
        }

        .cat-head::before {
            content: "";
            width: 11px;
            height: 8px;
            background-color: transparent;
            border-radius: 50%;
            box-shadow: 3px 2px 0 0 #F4D548;
            -index: 2;
            position: absolute;
            top: 2.5px;
            right: 14px
        }

        .pac-man {
            width: 30px;
            height: 30px;
            border-style: solid;
            border-width: 30px;
            border-radius: 50%;
            border-right-color: rgba(255, 0, 0, 0);
            border-bottom-color: #82515100;
            border-top-color: #503C60;
            border-left-color: #503C60;
            transform: translate(-50%, 0) rotate(45deg);
            position: absolute;
            left: 50%;
            top: 10px
        }

        .pac-man-bottom {
            width: 40px;
            height: 25px;
            background-color: #503C60;
            transform: rotate(-45deg);
            position: absolute;
            top: 3px;
            right: -15px;
            border-radius: 10% 0% 0 100%;
            /* border-style: solid;
            border-width: 30px;
            border-radius: 50% 50%;
            border-right-color: #503C60;
            border-bottom-color: #503C60;
            border-top-color: #503c6000;
            border-left-color: #503c6000;
            position: absolute;
            transform: translate(-50%, -50%); */
            /* animation-name: pac-man-eat-b;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            -index: 0; */
        }

        .pac-man-bottom::after {
            content: "";
            width: 25px;
            height: 25px;
            border-style: solid;
            border-width: 25px;
            border-radius: 50%;
            border-right-color: #503c6000;
            border-bottom-color: #503C60;
            border-top-color: #503c6000;
            border-left-color: #503c6000;
            position: absolute;
            left: 15px;
            top: -100%;
            transform: rotate(-45deg);
            animation-name: pac-man-eat-b;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }

        .cat-nose {
            width: 21.5px;
            height: 20px;
            border-radius: 0% 100% 100% 50% / 0% 20% 90% 0%;
            position: absolute;
            left: 0px;
            bottom: 13px;
            background-color: #503C60;
            transform: rotate(-2deg);
            overflow: hidden;
        }

        .cat-nose::after {
            content: "";
            width: 8px;
            height: 5px;
            border-radius: 53% 47% 48% 54% / 46% 51% 51% 59%;
            background-color: #AC6E77;
            position: absolute;
            left: 15px;
        }

        .cat-ear {
            width: 38px;
            height: 45px;
            border-radius: 75% 30% 0% 0% / 100% 100% 0% 0%;
            background: linear-gradient(to bottom, #4b395b 80%, transparent);
            /* border-style: solid;
            border-width: 20px 25px;
            border-color: transparent;
            border-right-color: #503C60; */
            position: absolute;
            top: -3px;
            left: 105px;
            transform: rotate(-20deg);
            z-index: 3;
            transform-origin: bottom;
            animation: ear-animation 2s infinite;
        }

        @keyframes ear-animation {

            0%,
            100% {
                transform: translatex(8px) rotate(-20deg);
            }

            90%,
            95% {
                transform: translatex(8px) rotate(-24.5deg);
            }

            92.5%,
            97.5% {
                transform: translatex(8px) rotate(-30deg);
            }
        }

        .cat-ear::after {
            content: "";
            width: 18px;
            height: 21px;
            border-radius: 75% 30% 0% 0% / 100% 100% 0% 0%;
            background: linear-gradient(to bottom, #D3787D, transparent);
            /* border-style: solid;
            border-width: 8px 10px;
            border-color: transparent;
            border-right-color: #D3787D; */
            position: absolute;
            top: 8px;
            left: 6px;
            transform: rotate(0deg);
        }

        .cat-ear-2 {
            content: "";
            border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
            width: 27px;
            height: 30px;
            background-color: #2e2237;
            /* border-style: solid;
            border-width: 10px 12px;
            border-color: transparent;
            border-right-color: #2e2237; */
            position: absolute;
            top: 0px;
            left: 125px;
            transform: rotate(-10deg);
            transform-origin: bottom;
            animation: ear-animation-2 2s infinite;
            z-index: 0;
        }

        @keyframes ear-animation-2 {

            0%,
            100% {
                transform: translatex(8px) rotate(-10deg);
            }

            90%,
            95% {
                transform: translatex(8px) rotate(-4.5deg);
            }

            92.5%,
            97.5% {
                transform: translatex(8px) rotate(20deg);
            }
        }

        .whisker {
            width: 25px;
            height: 1px;
            border-radius: 60% 100%;
            border-top: solid 1px rgb(146, 146, 146);
            position: absolute;
            right: 5px;
            top: 10px;
            transform: rotate(-55deg);
            animation: whisker-1 5s infinite;
            transform-origin: right;
        }

        @keyframes whisker-1 {

            0%,
            100% {
                transform: rotate(-55deg);
            }

            90%,
            95% {
                transform: rotate(-50deg);
            }

            92.5%,
            97.5% {
                transform: rotate(-57deg);
            }
        }

        .whisker::after {
            content: "";
            width: 25px;
            height: 1px;
            border-radius: 60% 100%;
            border-top: solid 1px rgb(146, 146, 146);
            position: absolute;
            right: px;
            top: -8px;
            transform: rotate(27deg);
            animation: whisker-2 5s infinite;
            transform-origin: right;
        }

        @keyframes whisker-2 {

            0%,
            100% {
                transform: rotate(30deg);
            }

            90%,
            95% {
                transform: rotate(25deg);
            }

            92.5%,
            97.5% {
                transform: rotate(35deg);
            }
        }

        .eyes {
            width: 15px;
            height: 15px;
            background-color: #E7E7E7;
            position: absolute;
            border-radius: 58% 42% 41% 41% / 72% 64% 27% 29%;
            top: -18px;
            left: -19px;
            overflow: hidden;
            transform: rotate(-55deg);
        }

        .eyes::after {
            content: "";
            width: 25px;
            height: 30px;
            background-color: #b05a54f5;
            position: absolute;
            border-radius: 50%;
            left: 4px;
            top: -3px;
        }

        .eyes::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 0;
            width: 100%;
            border-radius: 0 0 50% 50% / 0 0 40% 40%;
            background-color: #503C60;
            animation: blink 5s infinite ease-in;
            z-index: 3;
        }

        .eyes-line {
            background-color: #E7E7E7;
            width: 4px;
            height: 2px;
            border-radius: 50%;
            position: absolute;
            bottom: 12px;
            right: 1.5px;
            z-index: 0;
            transform: rotate(-60deg);

        }

        @keyframes blink {
            0% {
                height: 0;
            }

            90% {
                height: 0;
            }

            92.5% {
                height: 100%;
            }

            95% {
                height: 0;
            }

            97.5% {
                height: 100%;
            }

            100% {
                height: 0;
            }
        }

        .eyeball {
            width: 10px;
            height: 10px;
            background-color: white;
            position: absolute;
            border-radius: 50%;
            z-index: 2;
            right: -5px;
            top: 5px;

        }

        @keyframes pac-man-eat-b {
            0% {
                transform: rotate(-44deg);
            }

            50% {
                transform: rotate(-4deg);
            }

            100% {
                transform: rotate(-44deg);
            }

        }

        .cat-body {
            width: 100%;
            height: 70px;
            position: relative;
            -index: 0;
        }

        .cat-body-main {
            width: 30px;
            height: 50px;
            border-radius: 46% 35% 33% 37% / 59% 55% 46% 42%;
            background-color: #503C60;
            position: absolute;
            right: 20px;
            top: -10px;
            z-index: 1;
        }

        .cat-body-main::before {
            content: "";
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #503C60;
            position: absolute;
            top: 3px;
            left: -4px;
        }

        .cat-body-main::after {
            content: "";
            width: 80px;
            height: 50px;
            border-radius: 40% 83% 55% 39% / 63% 55% 45% 42%;
            background-color: #503C60;
            position: absolute;
            right: 3px;
            top: 9px;
        }

        .cat-tail-all {
            width: 70px;
            height: 120px;
            position: absolute;
            left: 25px;
        }

        .cat-tail,
        .cat-tail-1 {
            background-color: #4D3D5E;
            border-radius: 50px;
            position: absolute;
            transform: rotateX(180deg) rotate(-50deg);
        }

        .cat-tail {
            height: 50px;
            width: 13px;
            right: -0px;
            bottom: 0;
            left: 50%;
            transform: rotateX(180deg) rotateY(180deg)rotate(-60deg);

        }

        .cat-tail-1 {
            height: 20px;
            width: 13px;
            bottom: 33px;
            left: 30px;
        }

        .cat-tail-2 {
            height: 25px;
            width: 13px;
            bottom: 0px;
            left: 50%;
            transform: rotate(100deg);
        }

        .tail,
        .tail-1 {
            background-color: #4D3D5E;
            height: 12px;
            width: 13px;
            border-radius: 20px 20px 0 0px;
            -index: 99;
            transform: rotate(190deg);
            transform-origin: center center;
            left: -1px;
            bottom: -5.5px;
            position: absolute;
        }

        .tail-1 {
            height: 6px;
            width: 13px;
            left: -.9px;
            bottom: -2.4px;
        }

        .tail .tail,
        .tail-1 .tail-1 {
            left: 11%;
            bottom: 62.5%;
            transform: rotate(10deg);
            transform-origin: center;
            animation: 2s wing infinite;
        }

        @keyframes wing {

            0%,
            100% {
                transform: rotate(10deg);
            }

            50% {
                width: 13px;
                left: 5%;
                bottom: 60.5%;
                transform: rotate(5deg)
            }
        }


        /* .tail-1 .tail-1 {
            left: 10%;
            bottom: 40%;
            transform: rotate(deg);
        } */
        .leg {
            height: 40px;
            width: 15px;
            position: absolute;
            bottom: 0px;

        }

        .leg1 {
            width: 15px;
            background-color: #362840;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 10%;
            right: 80px;
            transform: rotate(15deg);
            position: absolute;
            transform-origin: center top;
            animation: walk-1 2s infinite;
        }

        @keyframes walk-1 {

            0%,
            100% {
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 10%;
                transform: rotate(15deg);
            }

            50% {
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 10%;
                transform: rotate(-25deg);
            }
        }

        .leg1-1 {
            background: linear-gradient(to bottom, #4C3C5D 100%, #362840);
            border-bottom-right-radius: 10%;
            border-bottom-left-radius: 50%;
            right: 86px;
            position: absolute;
            transform: rotate(-15deg);
            transform-origin: center top;
            animation: walk-2 2s infinite;
        }

        @keyframes walk-2 {

            0%,
            100% {
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 10%;
                transform: rotate(-15deg);
            }

            50% {
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 10%;
                transform: rotate(25deg);
            }
        }

        .leg2 {
            position: absolute;
            background-color: #362840;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 10%;
            right: 30px;
            transform: rotate(-15deg);
            z-index: 0;
            animation: walk-3 2s infinite;
            transform-origin: center top;
        }

        @keyframes walk-3 {

            0%,
            100% {
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 10%;
                transform: rotate(25deg);
            }

            50% {
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 10%;
                transform: rotate(-15deg);
            }
        }

        .leg2-2 {
            content: "";
            height: 40px;
            width: 15px;
            background: linear-gradient(to bottom, #4C3C5D 100%, #362840);
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 10%;
            transform: rotate(25deg);
            position: absolute;
            right: 31px;
            transform-origin: center top;
            animation: walk-4 2s infinite;
        }

        @keyframes walk-4 {

            0%,
            100% {
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 10%;
                transform: rotate(-15deg);
            }

            50% {
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 10%;
                transform: rotate(25deg);

            }
        }

        .white-cat-main {
            width: 170px;
            height: 150px;
            position: absolute;
            animation-name: pac-man-eat-t;
            animation-duration: 12s;
            animation-iteration-count: infinite;
            left: 0;
            transform: translatex(-105%);
            bottom: 0;
            display: flex;
            flex-wrap: wrap;
            animation: walk2 12s infinite linear;
            z-index: 6;
        }

        @keyframes walk2 {

            0%,
            55% {
                left: 0%;
                transform: translatex(-110%);
            }

            75%,
            100% {
                left: 50%;
                transform: translatex(-100%)
            }
        }

        .white-cat-face {
            width: 100%;
            height: 80px;
            position: relative;
            animation: headanimate 2s infinite;
            transform-origin: right center;
        }

        @keyframes headanimate {

            0%,
            100% {
                transform: rotate(-2deg);
            }

            50% {
                transform: rotate(6deg) translatey(2px);
            }
        }

        .white-cat-head {
            width: 60px;
            height: 40px;
            border-radius: 30px 30px 0 0;
            position: absolute;
            top: 20px;
            right: 0px;
            background-color: #F1F2F0;
            z-index: 2;
        }

        .white-cat-head::before {
            content: "";
            width: 11px;
            height: 8px;
            background-color: transparent;
            border-radius: 50%;
            box-shadow: 3px 2px 0 0 #F4D548;
            position: absolute;
            top: 2.5px;
            right: 14px
        }

        .white-pac-man {
            width: 30px;
            height: 30px;
            border-style: solid;
            border-width: 30px;
            border-radius: 50%;
            border-right-color: rgba(255, 0, 0, 0);
            border-bottom-color: #82515100;
            border-top-color: #F1F2F0;
            border-left-color: #F1F2F0;
            transform: translate(-50%, 0) rotate(45deg);
            position: absolute;
            left: 50%;
            top: 10px
        }

        .white-pac-man-bottom {
            width: 40px;
            height: 25px;
            background-color: #F1F2F0;
            transform: rotate(-45deg);
            position: absolute;
            top: 3px;
            right: -15px;
            border-radius: 10% 0% 0 100%;
            /* border-style: solid;
            border-width: 30px;
            border-radius: 50% 50%;
            border-right-color: #F1F2F0;
            border-bottom-color: #F1F2F0;
            border-top-color: #F1F2F000;
            border-left-color: #F1F2F000;
            position: absolute;
            transform: translate(-50%, -50%); */
            /* animation-name: pac-man-eat-b;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            -index: 0; */
        }

        .white-pac-man-bottom::after {
            content: "";
            width: 25px;
            height: 25px;
            border-style: solid;
            border-width: 25px;
            border-radius: 50%;
            border-right-color: #F1F2F000;
            border-bottom-color: #F1F2F0;
            border-top-color: #F1F2F000;
            border-left-color: #F1F2F000;
            position: absolute;
            left: 15px;
            top: -100%;
            transform: rotate(-45deg);
            animation-name: pac-man-eat-b;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }

        .white-cat-nose {
            width: 21.5px;
            height: 20px;
            border-radius: 0% 100% 100% 50% / 0% 20% 90% 0%;
            position: absolute;
            left: 0px;
            bottom: 13px;
            background-color: #F1F2F0;
            transform: rotate(-2deg);
            overflow: hidden;
        }

        .white-cat-nose::after {
            content: "";
            width: 8px;
            height: 5px;
            border-radius: 53% 47% 48% 54% / 46% 51% 51% 59%;
            background-color: #f0adb7;
            position: absolute;
            left: 15px;
        }

        .white-cat-ear {
            width: 38px;
            height: 45px;
            border-radius: 75% 30% 0% 0% / 100% 100% 0% 0%;
            background: linear-gradient(to bottom, #F1F2F0 80%, transparent);
            /* border-style: solid;
            border-width: 20px 25px;
            border-color: transparent;
            border-right-color: #F1F2F0; */
            position: absolute;
            top: -3px;
            left: 105px;
            transform: rotate(-20deg);
            z-index: 3;
            transform-origin: bottom;
            animation: ear-animation 2s infinite;
        }

        @keyframes ear-animation {

            0%,
            100% {
                transform: translatex(8px) rotate(-20deg);
            }

            90%,
            95% {
                transform: translatex(8px) rotate(-24.5deg);
            }

            92.5%,
            97.5% {
                transform: translatex(8px) rotate(-30deg);
            }
        }

        .white-cat-ear::after {
            content: "";
            width: 18px;
            height: 21px;
            border-radius: 75% 30% 0% 0% / 100% 100% 0% 0%;
            background: linear-gradient(to bottom, #D3787D, transparent);
            /* border-style: solid;
            border-width: 8px 10px;
            border-color: transparent;
            border-right-color: #D3787D; */
            position: absolute;
            top: 8px;
            left: 6px;
            transform: rotate(0deg);
        }

        .white-cat-ear-2 {
            content: "";
            border-radius: 70% 30% 0% 0% / 100% 100% 0% 0%;
            width: 27px;
            height: 30px;
            background-color: #e6e6e6;
            /* border-style: solid;
            border-width: 10px 12px;
            border-color: transparent;
            border-right-color: #2e2237; */
            position: absolute;
            top: 0px;
            left: 125px;
            transform: rotate(-10deg);
            transform-origin: bottom;
            animation: ear-animation-2 2s infinite;
            z-index: 0;
        }

        @keyframes ear-animation-2 {

            0%,
            100% {
                transform: translatex(8px) rotate(-10deg);
            }

            90%,
            95% {
                transform: translatex(8px) rotate(-4.5deg);
            }

            92.5%,
            97.5% {
                transform: translatex(8px) rotate(20deg);
            }
        }

        .white-whisker {
            width: 25px;
            height: 1px;
            border-radius: 60% 100%;
            border-top: solid 1px rgb(146, 146, 146);
            position: absolute;
            right: 5px;
            top: 10px;
            transform: rotate(-55deg);
            animation: whisker-1 5s infinite;
            transform-origin: right;
        }

        @keyframes whisker-1 {

            0%,
            100% {
                transform: rotate(-55deg);
            }

            90%,
            95% {
                transform: rotate(-50deg);
            }

            92.5%,
            97.5% {
                transform: rotate(-57deg);
            }
        }

        .white-whisker::after {
            content: "";
            width: 25px;
            height: 1px;
            border-radius: 60% 100%;
            border-top: solid 1px rgb(146, 146, 146);
            position: absolute;
            right: px;
            top: -8px;
            transform: rotate(27deg);
            animation: whisker-2 5s infinite;
            transform-origin: right;
        }

        @keyframes whisker-2 {

            0%,
            100% {
                transform: rotate(30deg);
            }

            90%,
            95% {
                transform: rotate(25deg);
            }

            92.5%,
            97.5% {
                transform: rotate(35deg);
            }
        }

        .white-eyes {
            width: 15px;
            height: 15px;
            background-color: #ffffff;
            position: absolute;
            border-radius: 58% 42% 41% 41% / 72% 64% 27% 29%;
            top: -18px;
            left: -19px;
            overflow: hidden;
            transform: rotate(-55deg);
        }

        .white-eyes::after {
            content: "";
            width: 25px;
            height: 30px;
            background: linear-gradient(185deg, #053735, #326457, #649577, #9fc697, #e4f8b7);
            position: absolute;
            border-radius: 50%;
            left: 4px;
            top: -3px;
        }

        .white-eyes::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 0;
            width: 100%;
            border-radius: 0 0 50% 50% / 0 0 40% 40%;
            background-color: #F1F2F0;
            animation: blink 5s infinite ease-in;
            z-index: 3;
        }

        .white-eyes-line {
            background-color: #ffffff;
            width: 4px;
            height: 2px;
            border-radius: 50%;
            position: absolute;
            bottom: 12px;
            right: 1.5px;
            z-index: 0;
            transform: rotate(-60deg);

        }

        @keyframes blink {
            0% {
                height: 0;
            }

            90% {
                height: 0;
            }

            92.5% {
                height: 100%;
            }

            95% {
                height: 0;
            }

            97.5% {
                height: 100%;
            }

            100% {
                height: 0;
            }
        }

        .white-eyeball {
            width: 10px;
            height: 10px;
            background-color: white;
            position: absolute;
            border-radius: 50%;
            z-index: 2;
            right: -5px;
            top: 5px;

        }

        @keyframes pac-man-eat-b {
            0% {
                transform: rotate(-44deg);
            }

            50% {
                transform: rotate(-4deg);
            }

            100% {
                transform: rotate(-44deg);
            }

        }

        .white-cat-body {
            width: 100%;
            height: 70px;
            position: relative;
            -index: 0;
        }

        .white-cat-body-main {
            width: 30px;
            height: 50px;
            border-radius: 46% 35% 33% 37% / 59% 55% 46% 42%;
            background-color: #F1F2F0;
            position: absolute;
            right: 20px;
            top: -10px;
            z-index: 1;
        }

        .white-cat-body-main::before {
            content: "";
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #F1F2F0;
            position: absolute;
            top: 3px;
            left: -4px;
        }

        .white-cat-body-main::after {
            content: "";
            width: 80px;
            height: 50px;
            border-radius: 40% 83% 55% 39% / 63% 55% 45% 42%;
            background-color: #F1F2F0;
            position: absolute;
            right: 3px;
            top: 9px;
        }

        .white-cat-tail-all {
            width: 70px;
            height: 120px;
            position: absolute;
            left: 25px;
        }

        .white-cat-tail,
        .white-cat-tail-1 {
            background-color: #E6E6E6;
            border-radius: 50px;
            position: absolute;
            transform: rotateX(180deg) rotate(-50deg);
        }

        .white-cat-tail {
            height: 50px;
            width: 13px;
            right: -0px;
            bottom: 0;
            left: 50%;
            transform: rotateX(180deg) rotateY(180deg)rotate(-60deg);

        }

        .white-cat-tail-1 {
            height: 20px;
            width: 13px;
            bottom: 33px;
            left: 30px;
        }

        .white-cat-tail-2 {
            height: 25px;
            width: 13px;
            bottom: 0px;
            left: 50%;
            transform: rotate(100deg);
        }

        .white-tail,
        .white-tail-1 {
            background-color: #E6E6E6;
            height: 12px;
            width: 13px;
            border-radius: 20px 20px 0 0px;
            -index: 99;
            transform: rotate(190deg);
            transform-origin: center center;
            left: -1px;
            bottom: -5.5px;
            position: absolute;
        }

        .white-tail-1 {
            height: 6px;
            width: 13px;
            left: -.9px;
            bottom: -2.4px;
        }

        .white-tail .white-tail,
        .white-tail-1 .white-tail-1 {
            left: 11%;
            bottom: 62.5%;
            transform: rotate(10deg);
            transform-origin: center;
            animation: 2s wing infinite;
        }

        @keyframes wing {

            0%,
            100% {
                transform: rotate(10deg);
            }

            50% {
                width: 13px;
                left: 5%;
                bottom: 60.5%;
                transform: rotate(5deg)
            }
        }


        /* .tail-1 .tail-1 {
            left: 10%;
            bottom: 40%;
            transform: rotate(deg);
        } */
        .white-leg {
            height: 40px;
            width: 15px;
            position: absolute;
            bottom: 0px;

        }

        .white-leg1 {
            width: 15px;
            background-color: #E6E6E6;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 10%;
            right: 80px;
            transform: rotate(15deg);
            position: absolute;
            transform-origin: center top;
            animation: walk-1 2s infinite;
        }

        @keyframes walk-1 {

            0%,
            100% {
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 10%;
                transform: rotate(15deg);
            }

            50% {
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 10%;
                transform: rotate(-25deg);
            }
        }

        .white-leg1-1 {
            background: linear-gradient(to bottom, #F1F2F0 100%, #E6E6E6);
            border-bottom-right-radius: 10%;
            border-bottom-left-radius: 50%;
            right: 86px;
            position: absolute;
            transform: rotate(-15deg);
            transform-origin: center top;
            animation: walk-2 2s infinite;
        }

        @keyframes walk-2 {

            0%,
            100% {
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 10%;
                transform: rotate(-15deg);
            }

            50% {
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 10%;
                transform: rotate(25deg);
            }
        }

        .white-leg2 {
            position: absolute;
            background-color: #E6E6E6;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 10%;
            right: 30px;
            transform: rotate(-15deg);
            z-index: 0;
            animation: walk-3 2s infinite;
            transform-origin: center top;
        }

        @keyframes walk-3 {

            0%,
            100% {
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 10%;
                transform: rotate(25deg);
            }

            50% {
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 10%;
                transform: rotate(-15deg);
            }
        }

        .white-leg2-2 {
            content: "";
            height: 40px;
            width: 15px;
            background: linear-gradient(to bottom, #F1F2F0 100%, #E6E6E6);
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 10%;
            transform: rotate(25deg);
            position: absolute;
            right: 31px;
            transform-origin: center top;
            animation: walk-4 2s infinite;
        }

        @keyframes walk-4 {

            0%,
            100% {
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 10%;
                transform: rotate(-15deg);
            }

            50% {
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 10%;
                transform: rotate(25deg);

            }
        }
        .heartall{
            height: 50%;
            width: 100px;
            position: absolute;
            top: 120px;
            left:50%;
            transform: translateX(-12px);
            display: flex;
            justify-content: center;
        }
        .heartall span{
            position: absolute;
            line-height:30px;
            font-size: 30px;
            color: #ce717d;
            bottom: 0;
            animation:move-heart 12s infinite;
            opacity: 0;
        }
        .heartall span:nth-child(2){
            line-height:16px;
            font-size: 16px;
            color: #c95a67;
            left: 30px;
            bottom: 50px;
            animation:move-heart 12s infinite;
      
        }
        .heartall span:nth-child(3){
            line-height:14px;
            font-size: 14px;
            color: #ce717d;
            right: 16px;
            bottom: 34px;
            animation:move-heart 12s infinite;
        }
        @keyframes move-heart {
                0%,
                75% {
                    opacity: 0;
                    transform:translatey(0) scale(0);
                }
                76% {
                    opacity: 0;
                }
                88% {
                    opacity: 1 ;
                    transform:translatey(-70px) scale(1);
                }
                100% {
                    opacity:.5;
                    transform: scale(0) translatey(-400px);
                }
            
        }
        .middle {
            width: 90%;
            height: 30%;
            /* background-color: rgba(252, 190, 201, 0.729); */
            border-radius: 10px;
            position: relative;
            display: flex;
            justify-content: center;
        }

        .m-left {
            width: 30%;
            height: 100%;
        }
        .m-right{
            position: relative;
        }
        .m-right .btn{
            width: 60px;
            height: 150px;
            border-radius: 30px;
            left: 50%;
            top: 0;
            transform: translate(-50%,0) rotate(10deg);
            position: absolute;
            background-color: #DFB9BF;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            border: solid 4px #937BA2;
            box-shadow: 0 -70px inset #937BA2;
        }
        .m-right .btn::after,
        .m-right .btn::before{
            content: "";
            width: 30px;
            display: flex;
            height: 30px;
            border-radius: 50%;
            border: double 5px #937BA2;
            background-color: #F6CDD3;
        }
        .m-right .btn::after{
            box-shadow: 0 -70px inset #937BA2;
        } 
        .m-right .btn::before{
            box-shadow: 0 -70px inset #DFB9BF;
        } 
        .c-but {
            width: 150px;
            height: 150px;
            background-color: #DFBABF;
            border-radius: 50%;
            border: solid 10px #937BA2;
            position: relative;
        }

        .c-but::before {
            content: "";
            width: 20px;
            height: 100px;
            background-color: #937BA2;
            position: absolute;
            border-radius: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .c-but::after {
            content: "";
            width: 20px;
            height: 100px;
            background-color: #937BA2;
            position: absolute;
            border-radius: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)rotate(90deg);
        }

        .m-middle {
            width: 30%;
            height: 100%;
            /* position: relative; */
            display: flex;
            justify-content: space-evenly;
            align-items: end;

        }

        .m-but {
            width: 40%;
            height: 30px;
            border-radius: 20px;
            background-color: #f6ced3;
            border: double 2px #8C729C;
            /* position: absolute;
            bottom: -20px;
            right: 0; */
            box-shadow: -9px -10px 0 0 #E495AC inset
        }


        .m-right {
            width: 30%;
            height: 100%;
        }

        .but {
            width: 160px;
            height: 60px;
            line-height: 50px;
            text-align: center;
            border-radius: 20px;
            border: solid 5px #9776a6;
            background-color: #a58ab7a8;
            color: rgb(250, 250, 250);
            font-size: 24px;
            animation: 2s text-shadow infinite ease-in-out;
        }

        @keyframes text-shadow {

            0%,
            100% {
                text-shadow: 0 0 2px #fff, 0 0 8px #fff, 0 0 15px #D2AEC2, 0 0 35px #D2AEC2, 0 0 0px #D2AEC2, 0 0 39px #D2AEC2, 0 0 55px #D2AEC2
            }

            50% {
                text-shadow: none;
            }

        }